.heading-collItem{
    font-size: 20px;
    font-weight: 500;
}

.cardTitle {
font-weight: 600;
font-size: 14px;
}

.onlyFont {
    font-size: 13px;
}

.privacyFont{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
}