@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');
 
.lexend{
    font-family: Lexend;
}

.App {
  text-align: center;
  /* aspect-ratio: 1155/1151; */
  /* position: relative; */
}
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
  background-color: #D1D1D1;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #232438;
  border-radius: 14px;
}