@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
