@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');
.Heading{
    font-family: 'Lexend', sans-serif;
    font-size: 31.59px;
    font-weight: 600;
}

.para{
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}

input {
    border-radius: 10px;
}

.hr-text {

    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    font-family:'Lexend', sans-serif ;
    font-size:12px;
}
    .hr-text:before {
      content: '';
      /* // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar */
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
     
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    .hr-text:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      /* // this is really the only tricky part, you need to specify the background color of the container element... */
      color: #818078;
      background-color: #fff;
    }
  img{
    max-width: max-content;
  }